{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block jumbo %}
        <div id="jumbo" class="jumbotron">
            <div class="container">
                <h1>Billet simple pour l'Alaska</h1>
                <p>Le livre en ligne by Jean Forteroche</p>
            </div>
            <div id="btnRead" class="container">
                <a id="spyingScroll" href="#accordion" class="btn btn-lg col-xl-2 col-xs-offset-5">Très bonne lecture...<br><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
            </div>
        </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div id="accordion" class="col-xs-10 col-xs-offset-1">
        {% for article in articles %}
            <h3>{{ article.title }}</h3>
            <article>
                <p>{{ article.content | raw | nl2br}}</p>
                <small class="pull-right">Publié le {{ article.date }} par Jean Forteroche</small>
                <br><hr>
                <div class="row col-xs-12">
                <button type="button" class="btn col-xl-2 col-xs-offset-5 btnBlue" onclick="setSelectedArticle({{article.id }})" data-toggle="modal" data-target="#commentModal" data-backdrop="static" aria-label="Left Align"><span aria-hidden="true">Commentaires</span><br><span class="glyphicon glyphicon-comment"></span></button>
                </div>
            </article>
        {% endfor %}
        </div>
        <div id="commentModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div id="modalContent" class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}