<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="blog.css" rel="stylesheet" />
    <title>Billet simple pour l'Alaska | Accueil</title>
</head>
<body>
    <header>
        <h1>Billet simple pour l'Alaska</h1>
    </header>
    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content|nl2br}}</p>
        <small class="pull-right">Publié le {{ article.date }} par Jean Forteroche</small>
    </article>
    {% endfor %}
    <footer class="footer">
        <p>Billet simple pour l'Alaska - Jean Forteroche - Tous droits réservés.</p>
        <p>Création originale <a href="http://zcomdezigne.com">ZcOmDeZign ©</a></p>
    </footer>
</body>
</html>

